<a href="https://colab.research.google.com/github/mfilipelino/pynotebook/blob/main/SummaryStatsAndWindowFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark==3.1.1 py4j==0.10.9

Collecting pyspark==3.1.1
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 76kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 41.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=6180165c48147aaf3ed7dd95f2e786ac0bcd6064ecbb3e0c56c2f27adca1b361
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import Window


spark = SparkSession.builder\
        .master("local[*]")\
        .appName('pyspark_notebook')\
        .getOrCreate()

In [1]:
df_ecommerce = spark.read.format('csv') \
  .option('header', 'true') \
  .option('inferSchema', 'true') \
  .load('drive/MyDrive/datasets/summer.csv')

df_ecommerce.createOrReplaceTempView('Summer')

NameError: ignored

In [ ]:
df_ecommerce.show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 20 rows

In [ ]:
query = """
SELECT
  Country, COUNT(CustomerID), round(SUM(UnitPrice * Quantity), 2) as total
FROM Ecommerce
GROUP BY Country
ORDER BY total
"""
spark.sql(query).show()

+--------------------+-----------------+--------+
|             Country|count(CustomerID)|   total|
+--------------------+-----------------+--------+
|        Saudi Arabia|               10|  131.17|
|             Bahrain|               17|   548.4|
|      Czech Republic|               30|  707.72|
|                 RSA|               58| 1002.31|
|              Brazil|               32|  1143.6|
|  European Community|               61| 1291.75|
|           Lithuania|               35| 1661.06|
|             Lebanon|               45| 1693.88|
|                 USA|              291| 1730.92|
|United Arab Emirates|               68| 1902.28|
|               Malta|              127| 2505.47|
|              Canada|              151| 3666.38|
|             Iceland|              182|  4310.0|
|              Greece|              146| 4710.52|
|         Unspecified|              244| 4749.79|
|              Poland|              341| 7213.14|
|              Israel|              250| 7907.82|
|           Singapore|              229| 9120.39|
|           Hong Kong|                0|10117.04|
|             Austria|              401|10154.32|
+--------------------+-----------------+--------+
only showing top 20 rows

In [ ]:
query = """
SELECT 
  Country, Quantity, UnitPrice, ROUND((Quantity * UnitPrice), 2) as TotalPrice
FROM Ecommerce
WHERE Country = 'Brazil'
"""
spark.sql(query).show(100)

+-------+--------+---------+----------+
|Country|Quantity|UnitPrice|TotalPrice|
+-------+--------+---------+----------+
| Brazil|      16|    10.95|     175.2|
| Brazil|      24|     2.55|      61.2|
| Brazil|      24|     2.55|      61.2|
| Brazil|      24|     2.55|      61.2|
| Brazil|      10|     6.75|      67.5|
| Brazil|      24|     3.39|     81.36|
| Brazil|      24|     1.95|      46.8|
| Brazil|      10|     1.65|      16.5|
| Brazil|      12|     1.95|      23.4|
| Brazil|      10|     1.65|      16.5|
| Brazil|       3|     5.95|     17.85|
| Brazil|       3|     5.95|     17.85|
| Brazil|       3|     5.95|     17.85|
| Brazil|       3|     5.95|     17.85|
| Brazil|      12|     2.08|     24.96|
| Brazil|      12|      2.1|      25.2|
| Brazil|      10|     4.95|      49.5|
| Brazil|      24|     1.25|      30.0|
| Brazil|      24|     3.45|      82.8|
| Brazil|       6|     2.89|     17.34|
| Brazil|       6|     2.89|     17.34|
| Brazil|      12|     1.25|      15.0|
| Brazil|       6|     3.25|      19.5|
| Brazil|       6|     6.75|      40.5|
| Brazil|      24|     0.85|      20.4|
| Brazil|       2|     8.25|      16.5|
| Brazil|       2|     8.25|      16.5|
| Brazil|       2|     8.25|      16.5|
| Brazil|       2|     8.25|      16.5|
| Brazil|       2|     8.25|      16.5|
| Brazil|       2|     8.25|      16.5|
| Brazil|      12|     1.65|      19.8|
+-------+--------+---------+----------+